/* Specific and Special ID Selectors */
a:link, a:visited {
  color: white;
}
a.button:hover {
  background-color: white;
  color: black;
}
#bodie-quote {
  font-size: 2.5em;
  color: white;
}
#footer-text {
  font-family: 'Dancing Script', cursive;
}
#img-bodie {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
/* Class Selectors */

.button {
  background-image: linear-gradient(to bottom, black, gray, white);
  color: white;
  border: none;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 3px;
  cursor: pointer;
  border: 2px solid black;
}

.card {
  /*border: 1px solid black;*/
  border-radius: 5px;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.2);
}
.container {
  display: grid;
  width: 100%;
  background: gray;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 1fr minmax(25vh,auto) 1fr;
  grid-gap: 5px;
  grid-template-areas: 
  "hd hd"
  "mainleft mainright" 
  "ft ft";
  padding: 1em;
  justify-content: center;
}

.footer {
  grid-area: ft;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  background-image: linear-gradient(to top, black, gray, white);
}

.header {
  display: flex;
  grid-area: hd;
  flex-direction: row;
  padding: 1em;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, black, gray, white);

}

.mainleft {
  display: flex;
  grid-area: mainleft;
  flex-direction: column;
  padding: 1em;
  background-image: linear-gradient(to right, black, gray, #fdfefb);
}

.mainright {
  display: flex;
  grid-area: mainright;
  flex-direction: column;
  padding: 1em;
  background-image: linear-gradient(to left, black, gray, #fdfefb);
}

/* Element Selectors */
body {
  background: gray;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Gothic A1', sans-serif;
}
figcaption {
  color: white;
  font-family: 'Gothic A1', sans-serif;
}

/* Media Query for Mobile */
@media screen and (max-width: 320px){
    .container {
    margin-left: auto;
    display: grid;
    background: black;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: 
      "hd"
      "mainleft"
      "mainright"
      "ft"; 
    border: 1px solid black;
    padding: 1em;
    justify-content: center;
    }
    .header {
    justify-content: center;
    }
}